body {
  font-family: "Montserrat";
}

.container {
  width: 942px;
  outline: solid red;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* хедер */
.header-navigation{
  display: flex;
}
.header-list{
  display: flex;
  margin-left: auto ;
  gap: 10px;
}
.header-logo {
  font-family: "Bilbo Swash Caps";
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 1.3px;

  color: #fed136;
}

.header-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 2.93;
  text-transform: uppercase;

  color: #fed136;
}

/* секція сервіси */
.services-list{
  display: flex;
  gap: 56px;
}
.services-item{
  outline: solid green;
}
.services-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.88;
  color: #222222;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 88px;
}

.services-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 4.17;
  text-align: center;
  letter-spacing: -0.45px;
  color: #222222;
}

.services-text {
  font-family: "RobotoSlab";
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: -0.35px;
  color: #777777;
}

/* секція contacts */

.contacts-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.22;
  letter-spacing: -1px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 114px;
}

.contacts-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: #fed136;
  width: 242px;
  height: 68px;
  margin-top: 29px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.contact {
  background-color: #222222;
}

.contacts-input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: -0.35px;
  text-transform: uppercase;

  color: #bbbbbb;
}

.contacts-coment::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: -0.35px;
  text-transform: uppercase;
  color: #bbbbbb;
}

section {
  outline: solid green;
}


.services {
  padding-top: 109px;
  padding-bottom: 119px;
}

.contact {
  padding-top: 92px;
  padding-bottom: 115px;
}

.header-page {
  padding-top: 44px;
}


.contacts-flex{
  display: flex;
  outline: auto;
  gap: 28px;
  justify-content: center;
}

.contacts-list{
  display: flex;
  gap: 28px;
  flex-direction: column;
  width: 455px;
  height: 50px;
}

.input{
  width: 455px;
  height: 50px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-left: 20px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}

.textarea{
  width: 458px;
  height: 212px; 
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  padding-left: 22px;
  padding-top: 14px;
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
}







